<div class="container-fluid singup-form">
    <div class="modal-dialog inner-singup-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-title-text">Sing Up</h5>
          <div class="modal-logo">
            <span style="color:#0892fd; font-family: Bookman, Helvetica Neue, Helvetica, sans-serif; font-size:0.5cm; margin: 0;padding: 0"> Improve </span>
            <span style="color:#3a4149; font-family: Bookman, Helvetica Neue, Helvetica, sans-serif; font-size:0.4cm; margin:0; margin-left: 1cm; padding: 0" > YOURSELF </span>
          </div>
        </div>
        <div class="modal-body">
          <p></p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1" autofocus>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Surname</span>
            </div>
            <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder=". . ." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Username</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder=". . ." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Password</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onBackButton()"><i class='fa fa-chevron-left'></i> Back</button>
                <button type="button" class="btn btn-primary">Sing Up <i class='fa fa-chevron-right'></i></button>
        </div>
      </div>
    </div>
</div>
