<div class="container-fluid main-container" *ngIf="lastUpdated">
    <div class="row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED TOPICS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let topic of coupleLastTopics">
            <div class="card">
                <div class="card-header">
                  Date: {{ topic.date }}
                </div>
                <div class="card-body">
                  <h5 class="card-title"> {{ topic.title }} </h5>
                  <p class="card-text"> {{ topic.description }}</p>
                </div>
              </div>
        </div>
        <div class="alert alert-danger col-lg-12" role="alert" *ngIf="!lastTopics || lastTopics.length == 0">
          <h2 style="text-align:center"> #No Added Topics </h2>
        </div>
    </div>

    <div class="row header-row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED QUESTIONS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let question of coupleLastQuestions">
            <div class="card">
                <div class="card-header">
                  Date: {{ question.date }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ question.description }}</h5>
                  <p class="card-text">{{ question.content }}</p>
                </div>
              </div>
        </div>
        <div class="alert alert-danger col-lg-12" role="alert" *ngIf="!lastQuestions || lastQuestions.length == 0">
          <h2 style="text-align:center"> #No added questions </h2>
        </div>
    </div>

    <div class="row header-row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED FINANCE STATISTICS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let card of cards">
            <div class="card">
                <div class="card-header">
                  {{ card.ime }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

