<div class="container-fluid main-container" *ngIf="lastUpdated">
    <div class="row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED TOPICS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let card of cards">
            <div class="card">
                <div class="card-header">
                  {{ card.ime }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row header-row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED QUESTIONS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let card of cards">
            <div class="card">
                <div class="card-header">
                  {{ card.ime }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row header-row">
        <div class="col-lg-12"> 
            <div class="card">
                <div class="card-header">
                  <span class="header-text">#LAST ADDED FINANCE STATISTICS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-lg-4" *ngFor="let card of lastTopics">
            <div class="card">
                <div class="card-header">
                  {{ card.title }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <button (click)="addTopic()">Add topic</button>
    <button (click)="updateTopics()">Update Topics</button>

</div>

